:root {
  --grey: rgb(64, 64, 64);
  --yellow: rgb(181, 159, 59);
  --green: rgb(83, 141, 78);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  /* padding-bottom: 10rem; */
}

.page-title {
  color: white;
  padding: .8rem;
  border-bottom: 1px solid var(--grey);
}

.letter-input {
  height: 12vw;
  width: 12vw;
  border: 2px solid var(--grey);
  margin: .3rem;
  text-align: center;
  background-color: black;
  color: white;
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
  transition: background-color 1s ease;
  font-size: 1.9rem;
}

.submit-button {
  padding: 1rem;
  width: 200px;
  margin: 1.5rem 0 1.5rem 0;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: 2px solid var(--grey);
}

.submit-button:hover {
  background-color: rgb(67, 67, 67);
  cursor: pointer;
}

.submit-button:active {
  transform: scale(.98);
}

.correct {
  background-color: var(--green);
}

.in-word {
  background-color: var(--yellow);
}

.keyboard {
  color: white;
}

.row {
  display: flex;
  justify-content: center;
}

.key {
  border: 1px solid var(--grey);
  padding: .5rem;
  margin: .2rem;
  height: 8vw;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.grey-key {
  color: rgb(35, 35, 35);
  border-color: rgb(27, 27, 27);
}

.green-key {
  background-color: var(--green);
}

.yellow-key {
  background-color: var(--yellow);
}

.main-content {
  padding-top: 2rem;
}

.message-container {
  color: red;
  padding: 2rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 600px) {
  .letter-input {
    height: 60px;
    width: 60px;
    font-size: 2rem;
  }

  .key {
    font-size: 1rem;
    height: 40px;
    width: 40px;
  }

  .message-container {
    font-size: 1.4rem;
    max-width: 70vw;
    margin: auto;
  }
}